#root {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

.App {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 16px;
  font-weight: 300;
  max-width: 375px;
  margin: 20px auto 60px;
  padding: 10px;
  border-radius: 10px;
  overflow: auto;
  color: rgba(#fff, 0.9);

  h1 {
    font-size: 26px;
    font-weight: bold;
    margin: 10px 0 60px;

    small {
      display: block;
      font-weight: 300;
    }
  }
}

@media screen and (min-width: 376px) {
  .App {
    background-color: rgba(#000, 0.1);
    border: 3px solid rgba(#000, 0.1);
  }
}

.amountsWrap {
  display: flex;
  align-items: flex-start;
  margin: 0 -5px;

  > * {
    flex: 1;
    margin: 0 2px;
  }
}
