.field {
  text-align: left;

  & + & {
    margin-top: 30px;
  }

  > label {
    display: block;
    text-align: inherit;
    font-size: 0.75em;
    font-weight: bold;
    padding-bottom: 5px;
  }

  > .input {
    position: relative;

    &::before {
      content: attr(data-symbol);
      position: absolute;
      top: 50%;
      left: 4px;
      transform: translate(0, -50%);
      color: inherit;
      opacity: 0.75;
      font-size: 12px;
      pointer-events: none;
    }

    input {
      display: block;
      width: 100%;
      font-size: 1em;
      font-weight: inherit;
      font-family: inherit;
      padding: 0.3em 0.3em;
      text-align: inherit;
      color: inherit;
      background-color: rgba(#fff, 0.025);
      border: none; // 1px solid rgba(#fff,.05);
      border-radius: 3px;
    }
    input:focus {
      outline: none;
      box-shadow: 0 0 1px 2px rgba(#fff, 0.25);
      background-color: rgba(#fff, 0.05);
    }
  }
}
