*,
*::before,
*::after {
  box-sizing: border-box;
  font-size: 1em;
  font-family: inherit;
  line-height: inherit;
}

@keyframes cycleBg {
  0% {
    background: #00509d;
  }
  33% {
    background: #34623f;
  }
  66% {
    background: #283845;
  }
  100% {
    background: #db3a34;
  }
}

html {
  min-height: 100vh;
  font-size: 16px;
  line-height: 1.4;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeSpeed;
  scroll-behavior: smooth;
  background-color: #00509d;
  animation: cycleBg 50s ease 0s infinite alternate;
}

body {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*:first-child {
  margin-top: 0;
}

*:last-child {
  margin-bottom: 0;
}
